---
---

@import "style"

@import "responsive"

body > .ui.sidebar.overlay
    z-index: 9999

.ui.main.menu.navbar
    border-radius: 0

.bottom-aligned
    -webkit-align-self: bottom !important
    -ms-flex-item-align: bottom !important
    align-self: bottom !important
    vertical-align: bottom !important
