---
layout: base
---

{% capture current_url %}{{ page.url }}{% endcapture %}
{% capture index_url %}{% link index.html %}{% endcapture %}
{% capture about_me_url %}{% link about.html %}{% endcapture %}
{% capture projects_url %}{% link projects.html %}{% endcapture %}

{% capture brand_entry %}
{% if current_url == index_url %}
    <a href="#" class="brand item">{{ site.title }}</a>
{% else %}
    <a href="{{ index_url }}" class="brand item">{{ site.title }}</a>
{% endif %}
{% endcapture %}

{% capture menu_entries %}
{% if current_url == about_me_url %}
    <a href="#" class="item active visible">About Me</a>
{% else %}
    <a href="{{ about_me_url }}" class="item visible">About Me</a>
{% endif %}
{% if current_url == about_me_url %}
    <a href="#" class="item active visible">Projects</a>
{% else %}
    <a href="{{ projects_url }}" class="item visible">Projects</a>
{% endif %}
{% endcapture %}


<div class="ui simple sidebar inverted vertical menu left uncover main-sidebar mobile only">
    {{ menu_entries }}
</div>

<div class="ui page pusher">


    <div class="ui computer tablet only">
        <div class="ui inverted menu navbar">
        {{ brand_entry }}
        {{ menu_entries }}
        </div>
    </div>
    <div class="ui mobile only narrow">
        <div class="ui inverted navbar menu">
            {{ brand_entry }}
            <div class="right menu open">
                <a class="menu item"><i class="bars icon"></i></a>
            </div>
        </div>
        <!-- <div class="ui vertical navbar menu inverted transition">
            {{ menu_entries }}
        </div> -->
    </div>
    

{{content}}

</div>